---
import BaseHead from '@components/layout/BaseHead.astro';
import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';
import type { SEOProps } from '@utils/seo';
import '../styles/global.css';

type Props = SEOProps;
const props = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead {...props} />
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
